In [1]:
# Ben te mundur bashkpunimin me OS
import os

In [2]:
# Importing nesecary libraries
import pandas as pd
import numpy as np

In [3]:
# Checking if file exist
os.path.exists("C:/Users/user/Desktop/Data_to_analyse/imports.xlsx")

# path = r"C:\Users\user\Documents\Data_analysis\Data_to_analyse\imports1.csv"
path = "C:/Users/user/Documents/Data_analysis/Data_to_analyse/imports1.csv"
print( path )

C:/Users/user/Documents/Data_analysis/Data_to_analyse/imports1.csv

In [4]:
# Importojme te dhenat
df = pd.read_csv( path, header=None )
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?

In [5]:
# I vendosim hederat te kollonat
headers = [ 'symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
           'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 
           'length', 'width', 'height', 'curb-weight', 'engine-type', 
           'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 
           'compression-ratio', 'horsepower','peak-rpm', 'city-mpg', 'highway-mpg', 
           'price' ]

df.columns = headers
# Zevendesojme mising values ( ? ) me NAN 
df.replace('?', np.NAN, inplace = True )
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,NaN

In [6]:
# Checking column type
df.dtypes
# df[[  'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders'  ]].dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [7]:
# Include columns with type object
df.describe( include = 'all' )

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,164,205,205,205,203,205,205,205,205.000000,...,205.000000,205,201,201,205.000000,203,203,205.000000,205.000000,201
unique,NaN,51,22,2,2,2,5,3,2,NaN,...,NaN,8,38,36,NaN,59,23,NaN,NaN,186
top,NaN,161,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.4,NaN,68,5500,NaN,NaN,7295
freq,NaN,11,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,2
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [8]:
# Checking for mising values

# 'normalized-losses'  41 ?
# num-of-doors 2 ?
# bore 1 ?
# stroke 1 ?
# horsepower 1 ?
# peak-rpm 1 ?
# price 1 ?

# C
# df.isnull().values.any()
# df[ 'price' ].value_counts()
# df[ 'price' ].unique()
# df['price'].isnull().sum()
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [9]:
# I bejme casting.
# I ndryshojme tipin
df['normalized-losses'] = df['normalized-losses'].astype("float64")
df['bore'] = df['bore'].astype("float64")
df['stroke'] = df['stroke'].astype("float64")
df['price'] = df['price'].astype("float64")
# df['horsepower'] = df['horsepower'].astype("int64")
# df['peak-rpm'] = df['peak-rpm'].astype("int64")

In [10]:
# Replacin NAN with (mean, Moden, etc... )
df['normalized-losses'].replace( np.NAN, df['normalized-losses'].mean()  , inplace = True )
df['bore'].replace( np.NAN, df['bore'].mean()  , inplace = True )
df['stroke'].replace( np.NAN, df['stroke'].mean()  , inplace = True )

In [11]:
# Heqim vlerat qe mungojne nga horsepower dhe nga peak-rpm
#df.dropna(subset = ['horsepower'], axis = 0, inplace = True )
#df.dropna(subset = ['peak-rpm'], axis = 0, inplace = True )

# Kontrollojme nqs jane zevendesuar vlerat qe mungojne apo jo.
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
5,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.0
7,1,122.0,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875.0
9,0,122.0,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,NaN

In [12]:
df.describe( include = 'all' )

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205.000000,205,205,205,203,205,205,205,205.000000,...,205.000000,205,205.000000,205.000000,205.000000,203,203,205.000000,205.000000,201.000000
unique,NaN,NaN,22,2,2,2,5,3,2,NaN,...,NaN,8,NaN,NaN,NaN,59,23,NaN,NaN,NaN
top,NaN,NaN,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,NaN,NaN,NaN,68,5500,NaN,NaN,NaN
freq,NaN,NaN,32,185,168,114,96,120,202,NaN,...,NaN,94,NaN,NaN,NaN,19,37,NaN,NaN,NaN
mean,0.834146,122.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,3.329751,3.255423,10.142537,NaN,NaN,25.219512,30.751220,13207.129353
std,1.245307,31.681008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,0.270844,0.313597,3.972040,NaN,NaN,6.542142,6.886443,7947.066342
min,-2.000000,65.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,2.540000,2.070000,7.000000,NaN,NaN,13.000000,16.000000,5118.000000
25%,0.000000,101.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,3.150000,3.110000,8.600000,NaN,NaN,19.000000,25.000000,7775.000000
50%,1.000000,122.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,3.310000,3.290000,9.000000,NaN,NaN,24.000000,30.000000,10295.000000
75%,2.000000,137.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,3.580000,3.410000,9.400000,NaN,NaN,30.000000,34.000000,16500.000000
max,3.000000,256.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,3.940000,4.170000,23.000000,NaN,NaN,49.000000,54.000000,45400.000000

In [13]:
# We replace  missing values with median
df['num-of-doors'].replace( np.NAN, 'four'  , inplace = True )

In [14]:
# We will drop normalized-losses column
df.drop( 'normalized-losses', axis = 1, inplace = True )

In [15]:
# df.describe( include = 'all' )
df.describe( )

,symboling,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,city-mpg,highway-mpg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,201.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.142537,25.219512,30.751220,13207.129353
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,6.542142,6.886443,7947.066342
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,19.000000,25.000000,7775.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,24.000000,30.000000,10295.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,30.000000,34.000000,16500.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,49.000000,54.000000,45400.000000

In [16]:
# We will drop rows where price is messing 
df.dropna( subset = ['price'], axis = 0, inplace = True )

In [17]:
# 'normalized-losses'  41 ?
# num-of-doors 2 ?
# bore 1 ?
# stroke 1 ?
# horsepower 1 ?
# peak-rpm 1 ?
# price 1 ?

# df[ 'wheel-base' ].value_counts()
# df[ 'wheel-base' ].unique()
df.isnull().sum()

symboling            0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [18]:
df.dtypes

symboling              int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [22]:
df.describe( include = 'all' )

,symboling,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,201.000000,201,201,201,201,201,201,201,201.000000,201.000000,...,201.000000,201,201.000000,201.000000,201.000000,199,199,201.000000,201.000000,201.000000
unique,NaN,22,2,2,2,5,3,2,NaN,NaN,...,NaN,8,NaN,NaN,NaN,58,22,NaN,NaN,NaN
top,NaN,toyota,gas,std,four,sedan,fwd,front,NaN,NaN,...,NaN,mpfi,NaN,NaN,NaN,68,5500,NaN,NaN,NaN
freq,NaN,32,181,165,115,94,118,198,NaN,NaN,...,NaN,92,NaN,NaN,NaN,19,36,NaN,NaN,NaN
mean,0.840796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.797015,174.200995,...,126.875622,NaN,3.330692,3.256874,10.164279,NaN,NaN,25.179104,30.686567,13207.129353
std,1.254802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.066366,12.322175,...,41.546834,NaN,0.268072,0.316048,4.004965,NaN,NaN,6.423220,6.815150,7947.066342
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,141.100000,...,61.000000,NaN,2.540000,2.070000,7.000000,NaN,NaN,13.000000,16.000000,5118.000000
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,166.800000,...,98.000000,NaN,3.150000,3.110000,8.600000,NaN,NaN,19.000000,25.000000,7775.000000
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,173.200000,...,120.000000,NaN,3.310000,3.290000,9.000000,NaN,NaN,24.000000,30.000000,10295.000000
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,183.500000,...,141.000000,NaN,3.580000,3.410000,9.400000,NaN,NaN,30.000000,34.000000,16500.000000
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,208.100000,...,326.000000,NaN,3.940000,4.170000,23.000000,NaN,NaN,49.000000,54.000000,45400.000000

In [19]:
df['horsepower'] = df['horsepower'].astype("float64")
df['peak-rpm'] = df['peak-rpm'].astype("float64")

In [25]:
df.describe( )

,symboling,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,199.000000,199.000000,201.000000,201.000000,201.000000
mean,0.840796,98.797015,174.200995,65.889055,53.766667,2555.666667,126.875622,3.330692,3.256874,10.164279,103.396985,5117.587940,25.179104,30.686567,13207.129353
std,1.254802,6.066366,12.322175,2.101471,2.447822,517.296727,41.546834,0.268072,0.316048,4.004965,37.553843,480.521824,6.423220,6.815150,7947.066342
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.500000,166.800000,64.100000,52.000000,2169.000000,98.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,2.000000,102.400000,183.500000,66.600000,55.500000,2926.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,3.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000

In [20]:
df['horsepower'].replace( np.NAN, df['horsepower'].mean()  , inplace = True )
df['peak-rpm'].replace( np.NAN, df['peak-rpm'].mean()  , inplace = True )

In [21]:
df.isnull().sum()

symboling            0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [22]:
df.dtypes

symboling              int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [23]:
df['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [30]:
# We cant analyse data to regresion as Categorical
# We should convert them in numerical

In [31]:
dumydf = pd.get_dummies( df['make'] )

In [33]:
# Checking nwe dataset for null values
# dumydf.isnull()
# Joining two datasets
df = pd.concat( ( df, dumydf ), axis = 1 )

In [34]:
df.head(10)

,symboling,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,nissan,peugot,plymouth,porsche,renault,saab,subaru,toyota,volkswagen,volvo
0,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,0,0,0,0,0,0,0,0,0,0
1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,0,0,0,0,0,0,0,0,0,0
2,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,0,0,0,0,0,0,0,0,0,0
3,2,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,0,0,0,0,0,0,0,0,0,0
4,2,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,0,0,0,0,0,0,0,0,0,0
5,2,audi,gas,std,two,sedan,fwd,front,99.8,177.3,...,0,0,0,0,0,0,0,0,0,0
6,1,audi,gas,std,four,sedan,fwd,front,105.8,192.7,...,0,0,0,0,0,0,0,0,0,0
7,1,audi,gas,std,four,wagon,fwd,front,105.8,192.7,...,0,0,0,0,0,0,0,0,0,0
8,1,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,...,0,0,0,0,0,0,0,0,0,0
10,2,bmw,gas,std,two,sedan,rwd,front,101.2,176.8,...,0,0,0,0,0,0,0,0,0,0

In [35]:
# We will drop make column
df.drop( 'make', axis = 1, inplace = True )

In [36]:
df.head(10)

,symboling,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,nissan,peugot,plymouth,porsche,renault,saab,subaru,toyota,volkswagen,volvo
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,0,0,0,0,0,0,0,0,0,0
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,0,0,0,0,0,0,0,0,0,0
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,0,0,0,0,0,0,0,0,0,0
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,0,0,0,0,0,0,0,0,0,0
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,0,0,0,0,0,0,0,0,0,0
5,2,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,...,0,0,0,0,0,0,0,0,0,0
6,1,gas,std,four,sedan,fwd,front,105.8,192.7,71.4,...,0,0,0,0,0,0,0,0,0,0
7,1,gas,std,four,wagon,fwd,front,105.8,192.7,71.4,...,0,0,0,0,0,0,0,0,0,0
8,1,gas,turbo,four,sedan,fwd,front,105.8,192.7,71.4,...,0,0,0,0,0,0,0,0,0,0
10,2,gas,std,two,sedan,rwd,front,101.2,176.8,64.8,...,0,0,0,0,0,0,0,0,0,0

In [38]:
# droping dataset that we dont need
del dumydf

In [42]:
dumydf = pd.get_dummies( df['fuel-type'] )

In [43]:
df = pd.concat( ( df, dumydf ), axis = 1 )

In [45]:
df.drop( 'fuel-type', axis = 1, inplace = True )

In [46]:
del dumydf

In [47]:
# Using a loop

In [56]:
categorical_columns = [ 'aspiration', 'body-style', 'num-of-doors', 'drive-wheels', 'engine-location', 'engine-type', 'num-of-cylinders', 'fuel-system' ]
# df['fuel-system'].unique()

In [57]:
for cc in categorical_columns:
    dumydf = pd.get_dummies( df[cc] )
    df = pd.concat( ( df, dumydf ), axis = 1 )
    df.drop( cc, axis = 1, inplace = True )
    del dumydf

In [58]:
df.head(10)

,symboling,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,...,twelve,two,1bbl,2bbl,4bbl,idi,mfi,mpfi,spdi,spfi
0,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,...,0,0,0,0,0,0,0,1,0,0
1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,...,0,0,0,0,0,0,0,1,0,0
2,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,...,0,0,0,0,0,0,0,1,0,0
3,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,...,0,0,0,0,0,0,0,1,0,0
4,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,...,0,0,0,0,0,0,0,1,0,0
5,2,99.8,177.3,66.3,53.1,2507,136,3.19,3.40,8.5,...,0,0,0,0,0,0,0,1,0,0
6,1,105.8,192.7,71.4,55.7,2844,136,3.19,3.40,8.5,...,0,0,0,0,0,0,0,1,0,0
7,1,105.8,192.7,71.4,55.7,2954,136,3.19,3.40,8.5,...,0,0,0,0,0,0,0,1,0,0
8,1,105.8,192.7,71.4,55.9,3086,131,3.13,3.40,8.3,...,0,0,0,0,0,0,0,1,0,0
10,2,101.2,176.8,64.8,54.3,2395,108,3.50,2.80,8.8,...,0,0,0,0,0,0,0,1,0,0

In [59]:
df.dtypes

symboling       int64
wheel-base    float64
length        float64
width         float64
height        float64
               ...
idi             uint8
mfi             uint8
mpfi            uint8
spdi            uint8
spfi            uint8
Length: 74, dtype: object

In [60]:
# normalize Data

df['wheel-base'] = ( df['wheel-base'] - df['wheel-base'].mean() ) /  df['wheel-base'].std()
df['width'] = ( df['width'] - df['width'].min() ) / ( df['width'].max()  - df['width'].min() )
df['height'] = ( df['height'] - df['height'].min() ) / ( df['height'].max()  - df['height'].min() )
df['bore'] = ( df['bore'] - df['bore'].min() ) / ( df['bore'].max()  - df['bore'].min() )
df['stroke'] = ( df['stroke'] - df['stroke'].min() ) / ( df['stroke'].max()  - df['stroke'].min() )
df['compression-ratio'] = ( df['compression-ratio'] - df['compression-ratio'].min() ) / ( df['compression-ratio'].max()  - df['compression-ratio'].min() )
df['city-mpg'] = ( df['city-mpg'] - df['city-mpg'].min() ) / ( df['city-mpg'].max()  - df['city-mpg'].min() )
df['highway-mpg'] = ( df['highway-mpg'] - df['highway-mpg'].min() ) / ( df['highway-mpg'].max()  - df['highway-mpg'].min() )
df['curb-weight'] = ( df['curb-weight'] - df['curb-weight'].mean() ) /  df['curb-weight'].std()
df['engine-size'] = ( df['engine-size'] - df['engine-size'].mean() ) /  df['engine-size'].std()

In [ ]:
# dat